/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
	chosen {
		zmk,kscan = &kscan0;
	};
	
	kscan0: kscan {
		compatible = "zmk,kscan-gpio-direct";
	
		label = "KSCAN";
	
		input-gpios
			// Blackpill onboard user key button on pin 10
			= <&xiao_d 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
	
			// Switches connected directly to gpio pins
			, <&xiao_d 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&xiao_d 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&xiao_d 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&xiao_d 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			;
	
	};

};
/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                // Blackpill onboard user key button
                &kp A

                // Switches connected directly to gpio pins
                &kp B
                &kp C
                &kp D
                &kp E
            >;
        };
    };
};
// The PS/2 GPIO and mouse drivers.
/ {
    gpio_ps2: gpio_ps2 {
	status = "okay";
        compatible = "gpio-ps2";
        label = "gpio_ps2";
        scl-gpios = <&xiao_d 10 0>;
        sda-gpios = <&xiao_d 9 0>;
    };
};

/ {
    mouse_ps2: mouse_ps2 {
	status = "okay";
        compatible = "zmk,ps2-mouse";
        label = "ps2_mouse";
        ps2-device = <&gpio_ps2>;
        rst-gpios = <&xiao_d 8 0>;
    };
};

// Adjust GPIO interrupt priority to the highest level.
// PS/2 events must be processed within 30-50us. Therefore we change the
// default gpio priority to the highest and we demote all BT interrupt
// priorities by one level.
//
// This allows the PS/2 interrupts to be triggered in time.
&gpiote {
	interrupts = < 0x6 0 >;
};
