/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */
#include "tptest.dtsi"
/ {
	chosen {
		zmk,kscan = &kscan0;
	};

	kscan0: kscan {
		compatible = "zmk,kscan-gpio-direct";

		label = "KSCAN";

		input-gpios
			// Blackpill onboard user key button on pin 10
			= <&xiao_d 0 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>

			// Switches connected directly to gpio pins
			, <&xiao_d 1 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&xiao_d 2 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&xiao_d 3 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			, <&xiao_d 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>
			;

	};

};
&gpio_ps2 {
	status = "okay";
};

&mouse_ps2 {
	status = "okay";
};

// Adjust GPIO interrupt priority to the highest level.
// PS/2 events must be processed within 30-50us. Therefore we change the
// default gpio priority to the highest and we demote all BT interrupt
// priorities by one level.
//
// This allows the PS/2 interrupts to be triggered in time.
&gpiote {
	interrupts = < 0x6 0 >;
};
